@charset "UTF-8";

*{
    margin: auto;
    padding: auto;
}

:root{

}

header{
    background-color: lightgray;
    margin: 10px 10px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}

header > h1{
    font-size: 100px;
}

header > h2{
    font-size: 50px;
}

header > nav{
    text-align: left;
    font-size: 30px;
}

header > nav > a{
    text-decoration: none;
    padding: 0 15px;
}

body{
  
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    background-color: yellow;
    width: 70%;
}

div.bloco {
    margin: 10px;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    border: 2px solid black;
    display: flex;
   
}

section{
    position: absolute;
    left: 72%;
    top: 267px;
    width: 26.5%;
    height: 97%;
    margin-left: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    background-color: lightgray;
}

p{
  
   
}