@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

:root{

}

header{
    background-color: lightgray;
    margin: 10px 10px;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}

header > h1{
    font-size: 100px;
}

header > h2{
    font-size: 50px;
}

header > nav{
    text-align: left;
    font-size: 30px;
}

body{
  
}

main{   
    position: absolute;
    text-align: center;
    padding: 10px;
    margin: 10PX;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    display: inline-block;
    background-color: yellow;
    width: 70%;
}

div.bloco{
    margin: 10px;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    border-style: solid;
    border-color: black;
    display: inline-block;
}