@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor0:#FFFFFF;
    --cor1:#000000;
    --cor2:#F59611;
    --cor3:#F56E11;
    --cor4:#F5B111;
    --cor5:#F54611;
    --cor6:#F5CD11;

}

header{
        background-color: var(--cor2);
        padding: 20PX;      
}

header > h1{
    text-align: center;
    color: var(--cor0);
    font-size: 100px;
}

header > h2{
    text-align: center;
    color: var(--cor0);
    font-size: 50px;  
    
}

nav{
    margin: 10px;
}

nav > ul > li{
    display: inline;
    font-size: 40px;
    padding: 15px;
    font-weight: bold;
    color: var(--cor0);
}

nav > ul > li > a{
    text-decoration: none;
    color: var(--cor0);
}

main{
    background-color: var(--cor3);
    margin: 0px auto;
    padding: 20px;
    width: 1200px;
    height: 1000px;
}

#AInternet{
    width: 500px;   
    border-radius: 20px;
    border-style: solid ;
    border-color: #000000;
    font-size: 80px;
    text-align: center;
}